@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.container {
  min-width: 500px;
  background-color: rgba(217, 59, 129, 0.1);
  overflow: auto;
  min-height: 300px;
  /*border: 1px solid steelblue;*/
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

body > #root > div {
  background-color: #2f3038;
  background-image: url("../assets/bubbles.png");
  min-height: 100vh;
}

h1 {
  color: antiquewhite;
  padding: 30px;
}

tr {
  color: antiquewhite;
}

.invoice-label {
  color: antiquewhite;
}

.marginLeft {
  margin-left: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}

.returnButton {
  position: relative;
  left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.returnArrow {
  width: 30px;
  height: 47px;
}
