.title {
    color: antiquewhite;
    font-size: 40px;
}

.title:hover {
    color: antiquewhite;
    text-decoration: none;
}

.dot {
    position: absolute;
    left: 80px;
}

.navbar {
    font-family: inherit;
    height: 120px;
}

.navLink {
    color: antiquewhite;
    font-size: 12px;
    width: 130px;
    text-align: center;
}

.navLink:hover {
    color: #DC3A80;
    text-decoration: none;
}

.navItem {
    position: relative;
    padding: 20px;
}

/*

.navbar {
    background-color: #2F3038;
    font-family: inherit;
    height: 120px;
}

.navItem {
    position: relative;
    top: 12px;
    left: 2px;
    padding: 5px;
    border: 3px solid green;
    width: 120px;
    float: left;
}

.navLink {
    color: antiquewhite;
    font-size: 12px;
}

.logo {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 61px;
    top: 12px;
}

 */